name: formatting

on:
  pull_request:
    branches: 
      - main

jobs:
  prettier:
    runs-on: ubuntu-latest

    steps:
    
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ github.head_ref }}
          fetch-depth: 0

      - name: Prettier
        uses: creyD/prettier_action@v4.2
        with:
          prettier_options: --write **/*.{tsx,json,md}
          only_changed: True


